# Server
SERVER_PORT=8080

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=yourpassword
DB_NAME=db_name

# Auth
JWT_SECRET=your-secret-key-here

# Email
RESEND_API_KEY=re_your_api_key_here